{% extends 'layout/base.html' %}

{% set title = 'Dashboard' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1>Dashboard</h1>
        <span class="text-muted">An overview of system statistics.</span>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ counts['requests'] }}</h3>
                        <p>Open Requests</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-tasks"></i>
                    </div>
                    <a href="{{ url_for('admin/requests') }}" class="small-box-footer">View All</a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ counts['pids'] }}</h3>
                        <p>Total PIDs</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user"></i>
                    </div>
                    <a href="{{ url_for('admin/pids') }}" class="small-box-footer">View All</a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ counts['teams'] }}</h3>
                        <p>Total Teams</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <a href="{{ url_for('admin/teams') }}" class="small-box-footer">View All</a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ counts['services'] }}</h3>
                        <p>Total Services</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-server"></i>
                    </div>
                    <a href="{{ url_for('admin/services') }}" class="small-box-footer">View All</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}