{% extends 'layout/master.html' %}

{% set is_admin = 'admin/' in request.endpoint %}

{% if is_admin %}
    {% set body_class = 'hold-transition sidebar-mini' %}
{% else %}
    {% set body_class = 'hold-transition layout-top-nav' %}
{% endif %}

{% block layout %}
<div class="wrapper">
    {% include 'layout/partials/top_nav.html' %}
    {% if is_admin %}
        {% include 'layout/partials/side_nav.html' %}
    {% endif %}
    <div class="content-wrapper">
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'layout/partials/footer.html' %}
</div>
{% set messages = get_flashed_messages(with_categories = True) %}
{% if messages %}
    <div id="flash-messages">
        {% for category, message in messages|unique %}
            <div class="flash-message" data-category="{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endblock layout %}