{% extends 'layout/master.html' %}

{% set body_class = 'hold-transition sidebar-mini' %}

{% block layout %}
<div class="wrapper">
    {% include 'layout/partials/top_nav.html' %}
    {% include 'layout/partials/side_nav.html' %}
    <div class="content-wrapper">
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'layout/partials/footer.html' %}
</div>
{% block modals %}
{% endblock modals %}
{% set messages = get_flashed_messages(with_categories = True) %}
{% if messages %}
    <div id="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message" data-category="{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endblock layout %}