{% from 'macros.html' import render_field, render_pagination %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} | AccessFlow</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'vendors/fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'vendors/toastr/css/toastr.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'vendors/select2/css/select2.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'vendors/select2/css/select2-bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'vendors/adminlte/css/adminlte.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/accessflow.min.css') }}">
    </head>
    <body class="{{ body_class }}">
        {% block layout %}
        {% endblock layout %}
        <script src="{{ url_for('static', filename = 'vendors/jquery/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'vendors/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'vendors/toastr/js/toastr.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'vendors/select2/js/select2.full.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'vendors/adminlte/js/adminlte.min.js') }}"></script>
        <script src="{{ url_for('static', filename = 'js/accessflow.min.js') }}"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>