{% extends 'layout/base.html' %}

{% set title = 'Job Logs' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Job Logs</h1>
                <span class="text-muted">An overview of the job's logs.</span>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <div class="card-body p-0 pt-1 job-logs">
                        <table class="table table-sm table-borderless">
                            <tbody>
                                {% for log in job_run.logs %}
                                    <tr>
                                        <td class="align-middle text-right text-muted" style="width: 5%">{{ loop.index }}</td>
                                        <td class="align-middle pl-2 log-{{ log.level|lower }}">
                                            {{ log.created_at }} - [ {{ log.level }} ] - {{ log.message }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Details</h3>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-head-fixed">
                            <tbody>
                                <tr>
                                    <td class="align-middle font-weight-bold">
                                        Duration
                                    </td>
                                    <td class="align-middle text-right">
                                        {{ (job_run.ended_at - job_run.started_at) | format_time }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle font-weight-bold">
                                        Started At
                                    </td>
                                    <td class="align-middle text-right">
                                        {{ job_run.started_at | format_datetime }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle font-weight-bold">
                                        Finished At
                                    </td>
                                    <td class="align-middle text-right">
                                        {{ job_run.ended_at | format_datetime }}
                                    </td>
                                </tr>
                                {% if job_run.triggered_by %}
                                    <tr>
                                        <td class="align-middle font-weight-bold">
                                            Triggered By
                                        </td>
                                        <td class="align-middle text-right">
                                            {{ job_run.triggerer.first_name }} {{ job_run.triggerer.last_name }}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="align-middle font-weight-bold">
                                        Status
                                    </td>
                                    <td class="align-middle text-right">
                                        {% if job_run.status.value == 'Succeeded' %}
                                            <span class="text-success">
                                                <i class="fas fa-check-circle"></i> Succeeded
                                            </span>
                                        {% elif job_run.status.value == 'Failed' %}
                                            <span class="text-danger">
                                                <i class="fas fa-times-circle"></i> Failed
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if parameters | length > 0 %}
                    <div class="card">
                        <div class="card-header" style="border-bottom: none">
                            <h3 class="card-title">Parameters</h3>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-head-fixed">
                                <thead>
                                    <tr>
                                        <th width="50%">Key</th>
                                        <th width="50%">Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in parameters.items() %}
                                        <tr>
                                            <td>
                                                <code>{{ key }}</code>
                                            </td>
                                            <td>
                                                <code>{{ value }}</code>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if previous_runs | length != 0 %}
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Last 5 Runs</h3>
                        </div>
                        <div class="card-body table-hover p-0">
                            <table class="table table-head-fixed">
                                <tbody>
                                    {% for run in previous_runs %}
                                        <tr>
                                            <td class="align-middle text-left p-0">
                                                <a href="{{ url_for('admin/jobs/logs', job_id = run.job_id, job_run_id = run.id) }}" class="d-block w-100 py-2 px-3 text-decoration-none text-body">
                                                    {{ run.started_at | format_datetime }}
                                                </a>
                                            </td>
                                            <td class="align-middle text-right p-0">
                                                <a href="{{ url_for('admin/jobs/logs', job_id = run.job_id, job_run_id = run.id) }}" class="d-block w-100 py-2 px-3 text-decoration-none text-body">
                                                    {% if run.status.value == 'Succeeded' %}
                                                        <span class="text-success">
                                                            <i class="fas fa-check-circle"></i>
                                                        </span>
                                                    {% elif run.status.value == 'Failed' %}
                                                        <span class="text-danger">
                                                            <i class="fas fa-times-circle"></i>
                                                        </span>
                                                    {% endif %}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}