{% extends 'layout/base.html' %}

{% set title = 'Requests' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1>Requests</h1>
        <span class="text-muted">An overview of all requests.</span>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-head-fixed">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Identity</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Created</th>
                                    <th class="row-actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for request in requests %}
                                    <tr>
                                        <td class="align-middle">
                                            AF-{{ request.id }}
                                        </td>
                                        <td class="align-middle">
                                            {{ request.name }}
                                        </td>
                                        <td class="align-middle">
                                            {% if request.type.value == 'account_creation' %}
                                                <span class="badge bg-indigo">Account Creation</span>
                                            {% elif request.type.value == 'service_access' %}
                                                <span class="badge bg-lightblue">Service Access</span>
                                            {% elif request.type.value == 'mfa_reset' %}
                                                <span class="badge bg-olive">MFA Reset</span>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle">
                                            {{ request.status.value | title }}
                                        </td>
                                        <td class="align-middle">
                                            {{ request.created_at | format_datetime }}
                                        </td>
                                        <td class="align-middle text-right">
                                            <a href="" class="btn btn-sm btn-outline-primary">View</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}