{% extends 'layout/base.html' %}

{% set title = 'View Request' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1>Request #{{ req.id }}</h1>
        <span class="text-muted">Review the details of this request.</span>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Details</h3>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-head-fixed">
                            <tbody>
                                <tr>
                                    <td class="align-middle font-weight-bold" width="30%">
                                        Identity
                                    </td>
                                    <td class="align-middle text-left">
                                        {{ req.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle font-weight-bold" width="30%">
                                        Type
                                    </td>
                                    <td class="align-middle text-left">
                                        {% if req.type.value == 'account_creation' %}
                                            Account Creation
                                        {% elif req.type.value == 'service_access' %}
                                            Service Access
                                        {% elif req.type.value == 'mfa_reset' %}
                                            MFA Reset
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if req.team %}
                                    <tr>
                                        <td class="align-middle font-weight-bold" width="30%">
                                            Team
                                        </td>
                                        <td class="align-middle text-left">
                                            {{ req.team }}
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="align-middle font-weight-bold" width="30%">
                                        Environment(s)
                                    </td>
                                    <td class="align-middle text-left">
                                        {% if req.nonprod_pid %}
                                            <span class="badge bg-success">Non-Production</span>
                                        {% endif %}
                                        {% if req.prod_pid %}
                                            <span class="badge bg-danger">Production</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if req.services %}
                                    <tr>
                                        <td class="align-middle font-weight-bold" width="30%">
                                            Service(s)
                                        </td>
                                        <td class="align-middle text-left">
                                            {% for service in req.services %}
                                                <span class="badge bg-primary">{{ service.name }}</span>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if req.nonprod_pid %}
                                    <tr>
                                        <td class="align-middle font-weight-bold" width="30%">
                                            Non-Production PID
                                        </td>
                                        <td class="align-middle text-left">
                                            {{ req.nonprod_pid }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if req.prod_pid %}
                                    <tr>
                                        <td class="align-middle font-weight-bold" width="30%">
                                            Production PID
                                        </td>
                                        <td class="align-middle text-left">
                                            {{ req.prod_pid }}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if req.justification %}
                                    <tr>
                                        <td class="align-middle font-weight-bold" width="30%">
                                            Justification
                                        </td>
                                        <td class="align-middle text-left">
                                            {{ req.justification }}
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header" style="border-bottom: none">
                        <h3 class="card-title">PID Fuzzy Matches</h3>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-head-fixed">
                            <thead>
                                <tr>
                                    <th width="45%">Identity</th>
                                    <th width="45%">Environment</th>
                                    <th width="10%">Confidence</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pid in req.nonprod_pids + req.prod_pids %}
                                    <tr>
                                        <td class="align-middle">
                                            <div class="d-flex align-items-center">
                                                <div style="line-height: 1.2">
                                                    <span class="d-block">{{ pid.pid.comment }}</span>
                                                    <span class="small text-muted">{{ pid.pid.name }}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            {% if pid.pid.environment_type.value == 'nonprod' %}
                                                <span class="badge bg-success">Non-Production</span>
                                            {% elif pid.pid.environment_type.value == 'prod' %}
                                                <span class="badge bg-danger">Production</span>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle">
                                            <span class="
                                                {% if pid.confidence >= 85 %}
                                                    text-success
                                                {% elif pid.confidence >= 60 %}
                                                    text-warning
                                                {% else %}
                                                    text-danger
                                                {% endif %}
                                            ">
                                                {{ pid.confidence }}%
                                            </span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}