{% extends 'layout/base.html' %}

{% set title = 'PIDs' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1>PIDs</h1>
        <span class="text-muted">A list of all PIDs.</span>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-tools">
                            <form>
                                <div class="input-group input-group-sm" style="width: 250px">
                                    <input type="text" name="q" value="{{ request.args.get('q', '') }}" class="form-control float-right" placeholder="Search PIDs">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-head-fixed">
                            <thead>
                                <tr>
                                    <th>Identity</th>
                                    <th>UID</th>
                                    <th>Environment</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pid in pids %}
                                    <tr>
                                        <td class="align-middle">
                                            <div class="d-flex align-items-center">
                                                <div style="line-height: 1.2">
                                                    <span class="d-block">{{ pid.comment }}</span>
                                                    <span class="small text-muted">{{ pid.name }}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <code>{{ pid.uid }}</code>
                                        </td>
                                        <td class="align-middle">
                                            {% if pid.environment_type.value == 'nonprod' %}
                                                <span class="badge bg-success">Non-Production</span>
                                            {% elif pid.environment_type.value == 'prod' %}
                                                <span class="badge bg-danger">Production</span>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle">
                                            {{ pid.team.friendly_name }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if pids.pages > 1 %}
                        <div class="card-footer">
                            {{ render_pagination(pids, 'admin/pids') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}