{% extends 'layout/base.html' %}

{% set title = 'Create User' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1>Create User</h1>
        <span class="text-muted">Create a user in the system.</span>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <form method="post">
            {{ form.csrf_token(id = False) }}
            <div class="row">
                <div class="col-12">
                    {% for category, message in get_flashed_messages(with_categories = True) %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 user-identity">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Identity</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        {{ form.first_name.label(class = 'col-3 col-form-label') }}
                                        <div class="col-9">
                                            {{ render_field(form.first_name, autofocus = (autofocus == 'first_name')) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        {{ form.last_name.label(class = 'col-3 col-form-label') }}
                                        <div class="col-9">
                                            {{ render_field(form.last_name, autofocus = (autofocus == 'last_name')) }}
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        {{ form.email_address.label(class = 'col-3 col-form-label') }}
                                        <div class="col-9">
                                            {{ render_field(form.email_address, autofocus = (autofocus == 'email_address')) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 user-password">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Password</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        {{ form.password.label(class = 'col-3 col-form-label') }}
                                        <div class="col-9">
                                            <div class="input-group">
                                                {{ render_field(form.password, autofocus = (autofocus == 'password')) }}
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-default toggle-password" title="Reveal Password">
                                                        <i class="far fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        {{ form.confirm_password.label(class = 'col-3 col-form-label') }}
                                        <div class="col-9">
                                            <div class="input-group">
                                                {{ render_field(form.confirm_password, autofocus = (autofocus == 'confirm_password')) }}
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-default toggle-password" title="Reveal Password">
                                                        <i class="far fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        <div class="offset-3 col-9">
                                            <div class="form-check">
                                                {{ form.force_password_reset(class = 'form-check-input') }}
                                                {{ form.force_password_reset.label(class = 'form-check-label') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    {{ form.submit(class = 'btn btn-primary float-right') }}
                                </div>
                            </div>
                        </div>                     
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 user-permissions">
                            <div class="card">
                                <div class="card-header" style="border-bottom: none">
                                    <h3 class="card-title">Permissions</h3>
                                </div>
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-head-fixed user-permissions-table">
                                        <thead>
                                            <tr>
                                                <th class="user-permission-name"></th>
                                                <th class="text-center">Yes</th>
                                                <th class="text-center">No</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for permission_group in form.permissions %}
                                                <tr>
                                                    <td class="align-middle" colspan="3">
                                                        <div class="d-flex align-items-center">
                                                            <div style="line-height: 1.2">
                                                                <span class="font-weight-bold d-block">{{ permission_group.permission_group.friendly_name }}</span>
                                                                {% if permission_group.permission_group.description %}
                                                                    <span class="small text-muted">{{ permission_group.permission_group.description }}</span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% for permission in permission_group.permissions %}
                                                    <tr>
                                                        <td class="align-middle user-permission-name">
                                                            <div class="d-flex align-items-center">
                                                                <div style="line-height: 1.2">
                                                                    <span class="d-block">{{ permission.permission.friendly_name }}</span>
                                                                    {% if permission.permission.description %}
                                                                    <span class="small text-muted">{{ permission.permission.description }}</span>
                                                                {% endif %}
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="align-middle text-center">
                                                            <input type="radio" name="{{ permission.field.name }}" value="true" {% if permission.field.data == "true" %}checked{% endif %}>
                                                        </td>
                                                        <td class="align-middle text-center">
                                                            <input type="radio" name="{{ permission.field.name }}" value="false" {% if permission.field.data == "false" %}checked{% endif %}>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}