{% extends 'layout/base.html' %}

{% set title = 'Users' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1>Users</h1>
        <span class="text-muted">A list of all registered system users.</span>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="border-bottom: none">
                        <h3 class="card-title">User List</h3>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-head-fixed">
                            <thead>
                                <tr>
                                    <th>Identity</th>
                                    <th>Two-Factor Authentication</th>
                                    <th>Last Activity</th>
                                    <th class="row-actions"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr data-user-id="{{ user.id }}">
                                        <td class="align-middle">
                                            <div class="d-flex align-items-center">
                                                <div style="line-height: 1.2">
                                                    <span class="d-block">{{ user.first_name }} {{ user.last_name }}</span>
                                                    <span class="small text-muted user-email-address">{{ user.email_address }}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            {% if user.has_two_factor %}
                                                <i class="fa fa-lock text-green"></i>
                                            {% else %}
                                                <i class="fa fa-unlock text-red"></i>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle">Test</td>
                                        <td class="align-middle text-right">
                                            {% if current_user.has_permission('edit_user') or current_user.has_permission('delete_user') %}
                                                <div class="dropdown">
                                                    <button class="btn btn-sm btn-actions" type="button" data-toggle="dropdown">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        {% if current_user.has_permission('edit_user') %}
                                                            <li>
                                                                <a href="" class="dropdown-item">Edit</a>
                                                            </li>
                                                        {% endif %}
                                                        {% if current_user.has_permission('delete_user') and current_user.id != user.id %}
                                                            <li>
                                                                <a class="dropdown-item text-danger user-delete">Delete</a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block modals %}
{% if current_user.has_permission('delete_user') %}
<div class="modal fade" id="delete-user-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this user?</p>
                <p>Type the following to confirm: <code id="confirm-email-address"></code></p>
                <input type="email" id="confirm-email-address-input" class="form-control" placeholder="Confirm Email Address" required>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="delete-user-btn" class="btn btn-danger" type="button" disabled>Delete User</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock modals %}