{% extends 'layout/base.html' %}

{% set title = 'Users' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1>Users</h1>
        <span class="text-muted">A list of all registered system users.</span>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="border-bottom: none">
                        <h3 class="card-title">User List</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 300px;">
                                <input type="text" name="search" class="form-control" placeholder="Search Users">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="card-body table-responsive p-0">
                        <table class="table table-head-fixed">
                            <thead>
                                <tr>
                                    <th>Identity</th>
                                    <th>Two-Factor Authentication</th>
                                    <th>Last Activity</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle">
                                        <div class="d-flex align-items-center">
                                            <div style="line-height: 1.2">
                                                <span class="d-block">John Doe</span>
                                                <span class="small text-muted">john.doe@capgemini.com</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <i class="fa fa-unlock text-red"></i>
                                    </td>
                                    <td class="align-middle">Test</td>
                                    <td class="align-middle text-right">
                                        <div class="dropdown">
                                            <button class="btn btn-sm btn-actions" type="button" data-toggle="dropdown">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a href="#" class="dropdown-item">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item text-danger">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
{% endblock content %}