{% extends 'layout/base.html' %}

{% set title = 'Teams' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1>Teams</h1>
        <span class="text-muted">A list of all teams.</span>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-head-fixed">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Associated PIDs</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in teams %}
                                    <tr>
                                        <td class="align-middle">
                                            {{ team.name }}
                                        </td>
                                        <td class="align-middle">
                                            1
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}