{% extends 'layout/base.html' %}

{% set title = 'Account Creation Request' %}

{% block content %}
<div class="content-header">
    <div class="container">
        <h1>Account Creation Request</h1>
        <span class="text-muted">Use this form to request a new account or update to an existing one.</span>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form method="post">
                        {{ form.csrf_token(id = False) }}
                        <div class="card-body">
                            <div class="form-group">
                                {{ form.name.label() }}
                                {{ render_field(form.name, placeholder = ' ', autofocus = True) }}
                                <span class="small text-muted field-description">
                                    What is your name? <b>e.g. John Doe</b>
                                </span>
                            </div>
                            <div class="form-group">
                                {{ form.team.label() }}
                                <select name="team" class="form-control select2 {% if form.team.errors %}is-invalid{% endif %}" style="visibility: hidden" required>
                                    {% for value, label in form.team.choices %}
                                        <option value="{{ value }}" {% if form.team.data == value %}selected{% endif %}>
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <span class="small text-muted field-description">
                                    Which team are you a memebr of? <b>e.g. DDC</b>
                                </span>
                            </div>
                            <div class="form-group">
                                {{ form.environments.label() }}
                                <select name="environments" multiple="multiple" class="form-control select2 {% if form.environments.errors %}is-invalid{% endif %}" style="visibility: hidden" required>
                                    {% for value, label in form.environments.choices %}
                                        <option value="{{ value }}" {% if value in form.environments.data %}selected{% endif %}>
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <span class="small text-muted field-description">
                                    Which environment(s) do you require access to? <b>e.g. Non-Production and Production</b>
                                </span>
                            </div>
                            <div class="form-group" {% if 'nonprod' not in form.environments.data %}style="display: none"{% endif %}>
                                {{ form.nonprod_pid.label() }}
                                {{ render_field(form.nonprod_pid, placeholder = ' ', extras = {'minlength': 7, 'maxlength': 9}) }}
                                <span class="small text-muted field-description">
                                    What is your non-production PID? <b>e.g. u.1234567</b>
                                </span>
                            </div>
                            <div class="form-group" {% if 'nonprod' not in form.environments.data %}style="display: none"{% endif %}>
                                {{ form.nonprod_ssh_key.label() }}
                                {{ render_field(form.nonprod_ssh_key, placeholder = ' ') }}
                                <span class="small text-muted field-description">
                                    What is your non-production <em>public</em> SSH key?
                                </span>
                            </div>
                            <div class="form-group" {% if 'prod' not in form.environments.data %}style="display: none"{% endif %}>
                                {{ form.prod_pid.label() }}
                                {{ render_field(form.prod_pid, placeholder = ' ', extras = {'minlength': 9, 'maxlength': 11}) }}
                                <span class="small text-muted field-description">
                                    What is your production PID? <b>e.g. LSS.1234567</b>
                                </span>
                            </div>
                            <div class="form-group" {% if 'prod' not in form.environments.data %}style="display: none"{% endif %}>
                                {{ form.prod_ssh_key.label() }}
                                {{ render_field(form.prod_ssh_key, placeholder = ' ') }}
                                <span class="small text-muted field-description">
                                    What is your production <em>public</em> SSH key?
                                </span>
                            </div>
                            <div class="form-group" {% if 'prod' not in form.environments.data %}style="display: none"{% endif %}>
                                {{ form.sc_clearance.label() }}
                                {% for value, label in form.sc_clearance.choices %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="{{ form.sc_clearance.name }}" value="{{ value }}" {% if form.sc_clearance.data == value %}checked{% endif %}>
                                        <label class="form-check-label" for="{{ form.sc_clearance.name }}">
                                            {{ label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-footer">
                            {{ form.submit(class = 'btn btn-primary') }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}