{% extends 'layout/base.html' %}

{% set title = 'Account Creation Request' %}

{% block content %}
<div class="content-header">
    <div class="container">
        <h1>Account Creation Request</h1>
        <span class="text-muted">Use this form to request a new account or update to an existing one.</span>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form method="post">
                        {{ form.csrf_token(id = False) }}
                        <div class="card-body">
                            
                        </div>
                        <div class="card-footer">
                            {{ form.submit(class = 'btn btn-primary') }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}