{% extends 'layout/base.html' %}

{% set title = 'Requests' %}

{% block content %}
<div class="content-header">
    <div class="container">
        <h1>Requests</h1>
        <span class="text-muted">View the status and details of your previous requests.</span>
    </div>
</div>
<div class="content">
    <div class="container">
		{% if requests %}
        	<div class="card">
          		<div class="card-body table-responsive p-0">
            		<table class="table table-hover text-nowrap">
              			<thead>
							<tr>
								<th>#</th>
								<th>Type</th>
								<th>Status</th>
								<th>Submitted</th>
								<th>Last Updated</th>
								<th></th>
							</tr>
            			</thead>
            			<tbody>
              				{% for request in requests %}
              					<tr>
									<td>{{ loop.index }}</td>
									<td>{{ request.type.value.replace('_', ' ') | title }}</td>
									<td>
										<span class="badge badge-light">
											Pending
										</span>
									</td>
									<td>
										{{ request.created_at | format_date }}
									</td>
									<td>
										{{ request.updated_at | format_date }}
									</td>
									<td>
										<a href="" class="btn btn-sm btn-outline-primary">View</a>
                					</td>
              					</tr>
              				{% endfor %}
            			</tbody>
          			</table>
        		</div>
      		</div>
    	{% else %}
			<div class="alert alert-info">
				You haven't submitted any requests yet.
				<a href="{{ url_for('requests/create') }}" class="alert-link">Create your first request.</a>
			</div>
    	{% endif %}
  	</div>
</div>
{% endblock %}