<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <form class="form-inline ml-1 position-relative" id="searchForm">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" id="searchInput" oninput="fetchSuggestions()" autocomplete="off">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <ul id="searchSuggestionsList" class="list-group position-absolute w-100" style="top: 38px; z-index: 1000; display: none; background: white; border: 1px solid #ddd;"></ul>
    </form>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown user-menu">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <img src="{{ url_for('static', filename = 'img/default.png') }}" class="user-image img-circle elevation-2" alt="User Image">
            </a>
            <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <li class="user-header bg-secondary">
                    <img src="{{ url_for('static', filename = 'img/default.png') }}" class="img-circle elevation-2" alt="User Image">
                    <p>John Doe</p>
                </li>
                <li class="user-footer">
                    <a href="#" class="btn btn-default btn-flat float-right">Logout</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>