/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/src/css/main.css ***!
  \*****************************************************************************/
.nav-sidebar .nav-link {
    padding-left: 14px;
}

.nav-sidebar .nav-link i {
    margin-top: 0.5px;
}

.nav-sidebar .menu-open > .nav-link svg.right,
.nav-sidebar .menu-open > .nav-link i.right,
.nav-sidebar .menu-is-opening > .nav-link svg.right,
.nav-sidebar .menu-is-opening > .nav-link i.right {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.user-info {
    line-height: 1.2;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-actions:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.btn-actions {
    background: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.table tbody tr:first-child td {
    border-top: none;
}

.user-permissions-table {
    width: 100%;
}

.user-permission-name {
    width: 70%;
}

.user-permissions-table th:not(.user-permission-name), .user-permissions-table td:not(.user-permission-name) {
    width: 10%;
}

tr.disabled {
    background-color: #f8f9fa;
    opacity: 0.5;
}

.user-permission-name {
    line-height: 1.2;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toggle-password {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
}

.user-actions {
    width: 100px; /* Adjust this width as needed */
    min-width: 100px; /* Ensures the column does not shrink below this width */
}

.flash-messages {
    display: none;
}
