{% extends 'layout/base.html' %}

{% set title = 'Create User' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1>Create User</h1>
        <span class="text-muted">Create a user in the system.</span>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <form method="post">
            {{ form.csrf_token(id = False) }}
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Identity</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6">
                                            {{ form.first_name.label }}
                                            {{ form.first_name(class = 'form-control is-invalid' if 'first_name' in form.errors else 'form-control', placeholder = 'First Name', autofocus = True if autofocus == 'first_name' else False) }}
                                        </div>
                                        <div class="col-6">
                                            {{ form.last_name.label }}
                                            {{ form.last_name(class = 'form-control is-invalid' if 'last_name' in form.errors else 'form-control', placeholder = 'Last Name', autofocus = True if autofocus == 'last_name' else False) }}
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-12">
                                            {{ form.email_address.label }}
                                            {{ form.email_address(class = 'form-control is-invalid' if 'email_address' in form.errors else 'form-control', placeholder = 'Email Address', autofocus = True if autofocus == 'email_address' else False) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header" style="border-bottom: none">
                                    <h3 class="card-title">Permissions</h3>
                                </div>
                                <div class="card-body table-responsive p-0" style="height: 500px;">
                                    <form>
                                        <table class="table table-head-fixed user-permissions-table">
                                            <thead>
                                                <tr>
                                                    <th class="user-permission-name"></th>
                                                    <th class="text-center">Yes</th>
                                                    <th class="text-center">No</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% set permission_groups = {
                                                    'General Permissions': ['View', 'Edit', 'Delete'],
                                                    'Administrator Permissions': ['View', 'Edit', 'Delete']
                                                } %}
                                                {% for group, permissions in permission_groups.items() %}
                                                <tr>
                                                    <td colspan="3">
                                                        <strong>{{ group }}</strong>
                                                    </td>
                                                </tr>
                                                {% for permission in permissions %}
                                                <tr>
                                                    <td class="align-middle user-permission-name">
                                                        <div class="d-flex align-items-center">
                                                            <div style="line-height: 1.2">
                                                                <span class="d-block">{{ permission }}</span>
                                                                <span class="small text-muted">This is an example description.</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <input type="radio" name="{{ permission }}" value="Yes">
                                                    </td>
                                                    <td class="align-middle text-center">
                                                        <input type="radio" name="{{ permission }}" value="No">
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}