{% extends 'layout/base.html' %}

{% set title = 'Create Service' %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <h1>Create Service</h1>
        <span class="text-muted">Create a service in the system.</span>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <form method="post">
            {{ form.csrf_token(id = False) }}
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Basic</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row mb-0">
                                        {{ form.name.label(class = 'col-3 col-form-label') }}
                                        <div class="col-9">
                                            {{ render_field(form.name, autofocus = True) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">GitLab Integration</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        {{ form.project_url.label(class = 'col-3 col-form-label') }}
                                        <div class="col-9">
                                            <div class="input-group">
                                                {{ render_field(form.project_url) }}
                                            </div>
                                            <span class="small text-muted field-description">The URL to the support users project.</span>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        {{ form.project_access_token.label(class = 'col-3 col-form-label') }}
                                        <div class="col-9">
                                            <div class="input-group">
                                                {{ render_field(form.project_access_token) }}
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-default toggle-password" data-tooltip="Project Access Token" tabindex="-1">
                                                        <i class="far fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <span class="small text-muted field-description">A Project Access Token for the support users project. This should have <code>api</code> and <code>read_repository</code> scope. If automatic rotation is turned on, then <code>self_rotate</code> should be added too.</span>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        <div class="offset-3 col-9">
                                            <div class="form-check">
                                                {{ form.auto_rotate_pat(class = 'form-check-input') }}
                                                {{ form.auto_rotate_pat.label(class = 'form-check-label') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    {{ form.submit(class = 'btn btn-primary float-right') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}